body {
  margin: 0%;
  padding: 0%;
  background-color: darkslategray;
  text-align: center;
}
nav {
  background-color: aqua;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#aks {
  width: 500px;
}
.img1 {
  text-align: center;
  background-color: brown;
  width: 100%;
  height: 900px;
}
.galleryImg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
